<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle
    Name="Cloud Drive Mount"
    Manufacturer="Bartek"
    Version="$(PackageVersion)"
    UpgradeCode="{52C1E945-7F4E-449E-9E2F-B68C5B1E5866}">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="rtfLicense" LicenseFile="License.rtf" />
    </BootstrapperApplication>

    <util:RegistrySearch
      Id="WinFspNativeRegistrySearch"
      Root="HKLM"
      Key="SOFTWARE\WinFsp"
      Variable="WinFspInstalled"
      Result="exists" />

    <util:RegistrySearch
      Id="WinFspWowRegistrySearch"
      Root="HKLM"
      Key="SOFTWARE\WOW6432Node\WinFsp"
      Variable="WinFspInstalledWow"
      Result="exists" />

    <Chain>
      <MsiPackage
        Id="WinFspMsi"
        SourceFile="$(WinFspMsiPath)"
        InstallCondition="NOT WinFspInstalled AND NOT WinFspInstalledWow"
        Permanent="yes"
        Vital="yes" />

      <MsiPackage
        Id="CloudDriveMountMsi"
        SourceFile="$(AppMsiPath)"
        Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
